# binaries
*.exe
*.out
*.app
*.dmg
*.deb
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.slo
*.lo
*.o
*.obj
*.moc
*.class

# build dirs
tools_py/build/**
tools_c/build/**
unittests/build/**
build/**

# temporary files
tmp/**
__pycache__/**
*.pyc
*.csv
*.swp
*.png
*.pdf
*.ico
*.icns
*.log
*.aux
*.toc
*.bbl
*.blg
*.fls
*.synctex.*
*.fdb_latexmk
.DS_Store
._.DS_Store
local_bindings.txt
cliparser_impl.*
clilexer_impl.*
stack.hh
res/magffacts.xml
