# binaries
*.exe
*.out
*.app
*.dmg
*.deb
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.slo
*.lo
*.o
*.obj
*.moc
*.class
!tools_py/magdyn/tests/_magdyn_py.so
!tools_py/magdyn/tests/_magpy.so

# build dirs
tools/structfact/build/**
tools/bz/build/**
tools/cif2xml/build/**
tools/magstructfact/build/**
tools/magsgbrowser/build/**
tools/pol/build/**
tools/moldyn/build/**
tools/magdyn/build/**
tools/scanbrowser/build/**
tools/setup/build/**
tools_py/magdyn/build/**
tools_py/bz/build/**
tools_py/instr/build/**
tools_c/build/**
build/**

# temporary files
tmp/**
__pycache__/**
*.pyc
*.csv
*.swp
*.png
*.pdf
*.ico
*.icns
*.log
*.aux
*.toc
*.bbl
*.blg
*.fls
*.synctex.*
*.fdb_latexmk
.DS_Store
._.DS_Store
local_bindings.txt
cliparser_impl.*
clilexer_impl.*
stack.hh
res/magffacts.xml
